# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vs
node_modules
dist
dist-ssr
*.local
typedocs

# Ephemeral sources
src/components/*
src/dock-manager/*
src/grids/*
src/grid-lite/*

# Test results
coverage
test-report

# Editor directories and files
!.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
