# CI pipeline is triggered by branch policy
# https://learn.microsoft.com/en-us/azure/devops/pipelines/repos/azure-repos-git?view=azure-devops&tabs=yaml#pr-triggers
trigger: none

pool:
  vmImage: ubuntu-latest

parameters:
- name: verbose
  displayName: 'Get verbose output from steps - where configurable'
  type: boolean
  default: false

steps:
- checkout: 'self'
  clean: true
  fetchTags: false
  fetchDepth: 1

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: Npm@1
  displayName: 'npm ci'
  inputs:
    command: 'ci'
    verbose: ${{ parameters.verbose }}

- task: Npm@1
  displayName: 'Build'
  inputs:
    command: custom
    verbose: ${{ parameters.verbose }}
    customCommand: 'run build'

- task: Npm@1
  displayName: 'Lint'
  inputs:
    command: custom
    verbose: ${{ parameters.verbose }}
    customCommand: 'run lint'

- script: npx playwright install chromium-headless-shell
  displayName: 'Install Playwright browsers'

- task: Npm@1
  displayName: 'Test'
  inputs:
    command: custom
    verbose: ${{ parameters.verbose }}
    customCommand: 'run test:ci'
  env:
      CI: 'true'

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testRunner: JUnit
    testResultsFiles: 'test-report/junit-report.xml'

- task: PublishCodeCoverageResults@2
  inputs: 
    summaryFileLocation: 'coverage/*coverage.xml'